<html>
<body>
<h1>Blogee</h1>
  
  <table>
  <tbody>
    <!-- iteration over an array in order to show the content -->
    <!-- this same postID is used in the routing in the app.module -->
    <tr *ngFor="let post of posts; index as postID">
      <table>
        <!-- curly braces must be for accessing the object's field -->
        <tr>{{post.timestamp}}</tr>
        <tr>{{post.location}}</tr>
        <tr>{{post.title}}</tr>
        <tr>{{post.desc}}</tr>
        <tr>
            <a [routerLink]="['/post', postID]">View</a>
        </tr>
      </table>
    </tr>
  </tbody>
</table>

</body>
</html>