<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<script>
</script>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <a class="navbar-brand"> Blogee</a>

  <!-- Collapsible content -->
  <!-- Links -->
    <ul>
      <li>
        <a color="black" routerLink="/register">Register</a>
      </li>
      <li>
        <a color="black" routerLink="/login">Login</a>
      </li>
    </ul>
   
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<table>
  <tbody>
    <!-- iteration over an array in order to show the content -->
    <!-- this same postID is used in the routing in the app.module -->
    <td>
    <tr *ngFor="let post of posts">
      <table>
        <!-- curly braces must be for accessing the object's field -->
        <tr>{{post.timestamp}}</tr>
        <tr>{{post.location}}</tr>
        <tr>{{post.title}}</tr>
        <tr>{{post.desc}}</tr>
        <tr>
            <!-- indeed here we send the post.id with the url -->
            <a [routerLink]="['/post', post.id]">View</a>
        </tr>
      </table>
    </tr>
    </td>

    <td>
      <router-outlet>
      </router-outlet>
    </td>

  </tbody>
</table>

</body>
</html>